/* initially sidebar will be closed */
.sidebar{
    left: -400px;
}

/* animate when sidebar is closed */
.close{
    animation: close-sidebar 1s ease forwards;
}

/* animate when sidebar gets opened */
.active{
    animation: open-sidebar 1s ease forwards;
}

/* animation to close sidebar */
@keyframes close-sidebar{
    from{
        left: 0;
    }
    to{
        left: -400px;
    }
}

/* animation to open sidebar */
@keyframes open-sidebar{
    from{
        left: -400px;
    }
    to{
        left: 0;
    }
}
