.cover{
    animation: animateback 0.5s ease-in-out forwards;
}
.active{
    animation: animate 0.5s ease-in-out forwards;
}

@keyframes animate{
    from{right: 7.5rem;}
    to{right: 0;width: 7rem;}
}

@keyframes animateback{
    from{right: 0;}
    to{right: 7.5rem;}
}