/* covers play btn */
.cover{
    animation: animateback 0.5s ease-in-out forwards;
}

/* covers pause btn */
.active{
    animation: animate 0.5s ease-in-out forwards;
}

/* animation from left to right */
@keyframes animate{
    from{right: 112px;}
    to{right: 0;width: 115px;}
}

/* animation from right to left */
@keyframes animateback{
    from{right: 0;}
    to{right: 125px;}
}