/* universal css selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body css starts */
body{
    height: 100vh;
}
/* body css ends */

/* button css starts */
#btn{
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
}

#btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
/* button css ends */